verification_report{https://docs.google.com/document/d/1oMSFXJogJmcOkvN6vUaIPJo10lGY3B37/edit?usp=sharing&ouid=101239020011374050948&rtpof=true&sd=true}
